
.navBottom{
    display: flex;
    background-color: #fdfdf8;
    border: 1px solid #e5e2de;
    padding: 5px 0px 0px 70px;
    font-size: 60px;
    gap: 5%;
    
}
.nav-link>button{
    margin: 0 0 0 5px;
    padding: 15px 15px 20px 15px;
    border: transparent;
    cursor: pointer;
    background-color: transparent;
    color: black;
    font-size: 20px;
    font-family:  sans-serif;
    font-weight: bold;
}
.nav-link>button:hover{
    border-bottom: 1px solid rgb(61,47,144);
    color:rgb(61,47,144);
}

.midRight>div{
    padding: 5px;
    height: auto;
    
}

